snippet pclass "Java public class" b
public class ${1:ClassName} {
    ${2: // Code here}
}
$0
endsnippet

snippet class "Java class" b
class ${1:ClassName} {
    ${2: // Code here}
}
$0
endsnippet

snippet pinterface "Java public interface" b
public class ${1:InterfaceName} {
    ${2: // Code here}
}
$0
endsnippet

snippet interface "Java interface" b
public class ${1:InterfaceName} {
    ${2: // Code here}
}
$0
endsnippet
