snippet dockerimage
services:
  ${1:name}:
    image: ${2}
    ports:
      - "${3:host_port}:${4:container_port}"
    volumns:
      - ${5}
endsnippet

snippet dockerfile_java
FROM openjdk:17-jdk-slim
ARG JAR_FILE=${1:artifact_name}.jar
COPY ${JAR_FILE} app.jar
EXPOSE 8080
ENTRYPOINT ["java","-jar","/app.jar"]
endsnippet
